.bg-mila-btnwidget {
  background: linear-gradient(
    to bottom right,
    #fb7200 0,
    #de252f 35%,
    #8403a3 85%,
    #ab20fd
  );
}
.bg-mila-400 {
  --bg-opacity: 1;
  background-image: linear-gradient(
    to right bottom,
    rgb(255, 0, 66) 0%,
    rgb(255, 0, 66) 100%
  );
}

h6 {
  margin: 0;
  font-size: 0.825rem !important;
  font-family: Poppins, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: inherit;
}

.form-table td fieldset label.justify-center {
  margin: 0.75rem !important;
  display: flex;
}

.mila-buttons {
  width: 30%;
}

@media (max-width: 1535px) {
  .mila-buttons {
    width: 40%;
  }
}

@media (max-width: 1200px) {
  .mila-buttons {
    width: 50%;
  }
}

@media (max-width: 480px) {
  .mila-buttons {
    width: 100%;
  }
}
